.nav {
    display: flex;
    justify-content: space-around;
    height: 80px;
    background-color: rgb(27, 22, 56);
    border-radius: 10px;
    box-shadow: 0 0 100px rgb(0, 0, 0);
    margin-bottom: 2px;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;

    

}

.nav h1 {
    margin: 0 auto;
    color: rgb(245, 245, 245);
    margin-top: 20px;
    

}
